body {
    margin: 0;
    font-family: PressStart2P;
}


@font-face { font-family: PressStart2P; src: url('../PressStart2P.ttf'); } 



.whiteSpace {
    width: auto;
    height: 10vh;
    display: flex;
    align-content: center;
    text-align: center;
}


.row {
    margin: 0;
}
.cell {
    border: 1px solid #ddd;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
}

.game-page {
    background-color: #727e76;
    height: 500px;
    width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    display: block;
    padding: unset;
  }



  .game-page .farm {
    position: absolute;
    left: -220px;
    top: 10px;
    height: 150px;
    width: 200px;
    background-image: url("../images/farm.png");
    background-position: center;
  
    background-size: cover;
  }


/* The gameboard! */
.gameboard {
    width: 680px;
    height: 680px;
    
    
    /*border: 10px ridge lightslategray;*/
    box-sizing: content-box;
    margin: 0 auto;
    position: relative;
  }

/* The player! */

#player {
    position: absolute;
    width: 44px;
    height: 44px;
    background-image: url('../images/farmer_square.png');
    background-position: center;
    background-size: cover;
    top: 42px;
    left: 42px;
    transition: all 80ms ease-out;
}

.cell.grass {
    background-image: url('../images/grass.png');
    background-position: center;
    background-size: cover;
}

.cell.acre {
    background-image: url('../images/ground05.png');
    background-position: center;
    background-size: cover;
}

.cell.wall {
    background-image: url('../images/ForestTileSet.png');
    background-position: center;
    background-size: cover;
}


.cell.foundIronBar {
    background-image: url('../images/found_iron.png');
    background-position: center;
    background-size: cover;
}

.cell.ironBarHidden {
    background-image: url('../images/ground05.png');
    background-position: center;
    background-size: cover;
}

.cell.plantedSeeds {
    background-image: url('../images/seeds_planted.png');
    background-position: center;
    background-size: cover;
}

.cell.cropsToHarvest {
    background-image: url('../images/groundAvocado.png');
    background-position: center;
    background-size: cover;
}

.cell {
    background-image: url('../images/water.png');
    background-position: center;
    background-size: cover;
}



.gameboard .avocadoScore{
    
    position: absolute;
    left: 700px;
    top: 10px;
    
    
}

.gameboard .ironScore{
    
    position: absolute;
    left: 700px;
    top: 60px;
    
}

.gameboard .showIrons{
    position: absolute;
    left: 710px;
    top: 100px;
}



.winMessage{
    margin: 0 auto;
    width: 500px;
    height: 500px;
    display: none;
    
}



button{
    font-family: PressStart2P;
    background-color: #8896AB;
    margin: 10px;
    
}

.intro{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: block;
    padding: unset;
    
    
    
}

.intro #introButton{
   position: relative;
   left: 160px;
    
}

#web{
    position: relative;
    left: 70px;
}

#farm{
    position: relative;
    left: 110px;
}

