body {
    margin: 0;
}




.whiteSpace {
    width: auto;
    height: 10vh;
    display: flex;
    align-content: center;
    text-align: center;
}


.row {
    margin: 0;
}
.cell {
    border: 1px solid #ddd;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
}

.game-page {
    background-color: #727e76;
    height: 500px;
    width: 1200px;
    margin: 0;
    border-radius: 10px;
    display: block;
    padding: unset;
  }



  .game-page .farm {
    position: absolute;
    left: -220px;
    top: 10px;
    height: 150px;
    width: 200px;
    background-image: url("/images/farm.png");
    background-position: center;
  
    background-size: cover;
  }


/* The gameboard! */
.gameboard {
    width: 680px;
    height: 680px;
    
    
    /*border: 10px ridge lightslategray;*/
    box-sizing: content-box;
    margin: 0 auto;
    position: relative;
  }

/* The player! */

#player {
    position: absolute;
    width: 44px;
    height: 60px;
    background-image: url('/images/farmer_resize.png');
    background-position: center;
    background-size: cover;
    top: 42px;
    left: 42px;
}

.grass {
    background-image: url('/images/grass.png');
    background-position: center;
    background-size: cover;
}

.acre {
    background-image: url('/images/ground05.png');
    background-position: center;
    background-size: cover;
}

.wall {
    background-image: url('/images/ForestTileSet.png');
    background-position: center;
    background-size: cover;
}


.foundIronBar {
    background-image: url('/images/Iron_Bar.png');
    background-position: center;
    background-size: cover;
}

.ironBarHidden {
    background-image: url('/images/ground05.png');
    background-position: center;
    background-size: cover;
}

.plantedSeeds {
    background-image: url('/images/seeds_planted.png');
    background-position: center;
    background-size: cover;
}

.cropsToHarvest {
    background-image: url('/images/avocado.png');
    background-position: center;
    background-size: cover;
}
