body {
    margin: 0;
}

.whiteSpace {
    width: auto;
    height: 10vh;
    display: flex;
    align-content: center;
    text-align: center;
}

.grid {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 1px;
    
}
.row {
    margin: 0;
}
.cell {
    border: 1px solid #ddd;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 1px;
    vertical-align: top;
}

/* background styling goes under here */

.game-page {
    background-color: #727e76;
    height: 500px;
    width: 1400px;
    margin: 0 auto;
    border-radius: 10px;
    display: block;
    padding: unset;
}

/*
.game-page h1 {
    display: block;
    width: 768px;
    margin:0 auto ;
    text-align: center;
    margin-bottom: 10px;
    font-family: "PirulenRg-Regular";
}

.game-page p {
    border: 1px solid darkslategray;
    background-color: rgba(173, 216, 230, 0.527);
    border-radius: 10px;
    width: 740px ;
    height: 35px;
    line-height: 37px;
    margin: 4px auto 0 auto ;
    padding-left: 12px;
    font-family: "Dungeon";
    font-size: 20px;
}
*/

/* The gameboard! */
.gameboard {
    width: 768px;
    height: 480px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*border: 10px ridge lightslategray;*/
    box-sizing: content-box;
    margin: 0 auto;
    position: relative;
}

/* The player! */

#player {
    position: absolute;
    width: 22px;
    height: 30px;
    background-image: url('/images/farmer.png')
}
